@import CONSTANTS
.slider
    display: block
    -webkit-appearance: none
    height: 6px
    background: $additional-bcolor
    outline: none
    cursor: pointer
    border-radius: 2px
    &::-webkit-slider-thumb
        -webkit-appearance: none
        width: 9px
        height: 9px
        border-radius: 20%
        background: $elem-default-bcolor


.slider-holder
    display: flex
    align-items: center
    &:hover .slider::-webkit-slider-thumb
        background-color: $elem-hover-bcolor
        transition: background-color .2s

    &:active .slider::-webkit-slider-thumb
        background-color: $elem-active-bcolor
        transition: background-color .2s