.text-name {
    font-size: 0.9em;
    height: 16px;
    line-height: 16px;
    vertical-align: center;
    float: left;
    min-width: 120px;
    text-indent: 15px;
}
.text-input {
    color: #FFF5F5;
    vertical-align: center;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #3C3C4D;
    width: 60px;
    background: #3C3C4D;
    height: 14px;
    text-align: center;
    margin-left: 10px;
    float: left;
    transition: .2s;
}
.text-input:focus {
    outline: none;
    border: 1px solid #9E1941;
}